:root{
    --color-primary:#FEC7D7;
    --color-secondary:#A786DF;
    --color-tertiary: #D9D4E7;
    --color-green: #85D1CE;
    --color-blue: #91C1D7;
    --color-white: #FFFFFE;
    --color-black: #0E172C;
    --color-gray: #535353;
    --font-family: "Nunito", sans-serif;
}
/* 
body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

.headline-1{
    margin: 40px 0;
}

#buttons-category-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.button-category{
    width: 156px;
    height: 80px;
    border-radius: 8px;
}

.icon{
    background-color: var(--color-green);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-dog{
    background-image: url("/img/perros.png");
}

.icon-cat{
    background-image: url("/img/gatos.png");
}

.button-category{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}

.no-select{
    cursor: default;
}


@media (min-width:900px){
    .nav-bar-container{
        top: 0;
        height: 100px;
    }
    .navigator-padding{
        padding-top: 100px;
    }

    .constraint{
        max-width: 80%;
    }

    main{
        display:flex;
    }
    
    #category-container{
        flex-grow: 1;
        width: 250px;
        display: block;
        padding: 0 50px 0 0;
        min-height: 100%;
    }

    #category-container h1{
        position: sticky;
        top: 140px;
    }

    #category-container p{
        position: sticky;
        top: 244px;
    }

    #category-container #buttons-category-container{
        position: sticky;
        top: 268px;
    }

    #buttons-category-container{
        display: flex;
        flex-direction: column;
    }
    
    #buttons-category-container .button-category{
        margin: 2% 0;
        width: 100%;
    }

    .cards-container{
        flex-grow: 4;
        display: flex;
        
        justify-content:flex-start ;
    }

    .cards-container a{
        width: 24%;
        padding: 0.5%;
    }
    .card{
        height: 25vw;
        width: 100%;
        margin: 0 5px;
    }
    /* .card{
        width: 60vw;
    } */
}