:root{
    --color-primary:#FEC7D7;
    --color-secondary:#A786DF;
    --color-tertiary: #D9D4E7;
    --color-green: #85D1CE;
    --color-blue: #91C1D7;
    --color-white: #FFFFFE;
    --color-black: #0E172C;
    --color-gray: #535353;
    --font-family: "Nunito", sans-serif;
}

.box-message{
    /* height: 80px; */
    background-color: var(--color-white);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}
a{
    text-decoration: none;
}

.info-message{
    display: flex;
    flex-grow: 1;
    margin-right: 5px;
    pointer-events: none;
}

.message-data{
    flex-grow: 1;
    pointer-events: none;
}

.name-and-time{
    display: flex;
    justify-content: space-between;
}

.arrow-message{
    pointer-events: none;
}

@media (min-width:900px){
    .nav-bar-container{
        top: 0;
        height: 100px;
    }
    .navigator-padding{
        padding-top: 100px;
    }

    .constraint{
        max-width: 80%;
    }
}




