:root{
    --color-primary:#FEC7D7;
    --color-secondary:#A786DF;
    --color-tertiary: #D9D4E7;
    --color-green: #85D1CE;
    --color-blue: #91C1D7;
    --color-white: #FFFFFE;
    --color-black: #0E172C;
    --color-gray: #535353;
    --font-family: "Nunito", sans-serif;
}

main{
    height: 100vh;
    background-color: var(--color-white);
}

.change-background {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: backwards;
    animation-name: changeBackground;
}


@keyframes changeBackground {
0% {
    background-color: var(--color-primary);
}

100% {
    background-color: var(--color-white);
}
}
 
#pet-photo{
    display: block;
    width: 100%;
    height: 442px;
}

#card-info-pet{
    background-color: var(--color-white);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
    height: 200px;
    top: -32px;
}

#info-pet{
    padding: 10px 0;
}

#name-and-add, #name-and-sex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name-and-sex p{
    margin-right: 10px;
}

#breed-and-age{
    display: flex;
}

#breed-and-age div{
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

#breed-and-age div img{
    margin-right: 10px;
}

#location-pet{
    margin: 20px 0;
    display: flex;
    align-items: center;
    white-space: pre-line;
}

#location-pet img{
    margin-right: 10px;
}

#personality-items-container{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.personality-item{
    width: 92px;
    height: 92px;
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#history-pet-container{
    padding: 20px 0;
}

#contact-info-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#contact-person{
    display: flex;
    align-items: center;
}

#contact-img-container{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--color-green);
    margin-right: 10px;
    
}

#contact-img-container img{
    max-width: 100%;
    height: 100%;
}

#contact-button{
    height: 48px;
    width: 155px;
    border-radius: 24px;
}

#favourite-button img{
    cursor: pointer;
}

@media (min-width: 600px){
    #pet-photo{
        height: 600px;
    }
}

@media (min-width:900px){

    .constraint{
        max-width: 80%;
    }

    main{
        display: flex;
    }

    #pet-photo{
        display: block;
        width: 50vw;
        height: 100%;
    }

    #card-info-pet{
        background-color: var(--color-white);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        position: relative;
        top: 0;
        left: -50px;
        height: 100vh;
    }
    
}